@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 1440px;
  padding-left: 102px;
  padding-right: 102px;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

/* Header */
.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding-top: 53px;
  padding-bottom: 53px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.logo-emblema {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.logo-emblema .text {
  color: #fff;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 0.48;
  text-transform: uppercase;
}

.logo-emblema .text.first {
  font-size: 52px;
  letter-spacing: -1.5px;
}

.logo-emblema .text.second {
  font-size: 25px;
  letter-spacing: -0.8px;
}

.logo-line {
  width: 1px;
  height: 35px;
  background-color: rgba(247, 247, 247, 0.4);
}

.logo-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.nav-item-service {
  display: flex;
  align-items: center;
  gap: 8px;
}

.langs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-label {
  color: rgba(247, 247, 247, 0.4);
  font-family: "Forum", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.84px;
}

.lang-label.active {
  color: #fff;
}

.lang-line {
  width: 1px;
  height: 17px;
  background-color: rgba(247, 247, 247, 0.5);
}

/* Hero page */
.hero {
  padding-top: 204px;
  padding-bottom: 190px;
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-family: "Forum", serif;
  font-weight: 400;
  font-size: 81px;
  line-height: 0.8;
}

.hero .subtitle-box {
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.hero .subtitle.title {
  margin-bottom: 0;
  color: #fff;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero .title {
  margin-bottom: 29px;
  color: #fff;
}

.hero-buttons-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.hero .button {
  width: 332px;
  height: 94px;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #141414;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  border: none;
}

.hero-slider {
  display: flex;
  gap: 13px;
}

.hero-slider-button {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #fff;
  border: none;
  border-radius: 100%;
}

.hero-slider-button:nth-child(1) {
  padding-left: 28px;
  padding-right: 32px;
}

.hero-slider-button:nth-child(2) {
  padding-left: 32px;
  padding-right: 28px;
}

/* Benefits */
.benefits {
  background-color: #0f252e;
  padding-top: 51px;
  padding-bottom: 51px;
}

.benefit-list {
  display: flex;
  gap: 59px;
}

.benefit-list .item {
  color: #fff;
}

.benefit-list .title {
  margin-bottom: 13px;
}

.benefit-list .item:nth-child(2) .title {
  width: 262px;
}

.benefit-list .item:nth-child(4) .title {
  width: 172px;
}

.benefit-line {
  width: 4px;
  height: 135px;
  background-color: rgba(247, 247, 247, 0.18);
}

/* About page */
.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about .container {
  display: flex;
  justify-content: space-between;
}

.about-text {
  width: 475px;
}

.about .title {
  margin-bottom: 30px;
  color: #141414;
}

.about .description {
  width: 475px;
  color: #141414;
  font-size: 18px;
  line-height: normal;
}

.about .description:not(:last-child) {
  margin-bottom: 32px;
}

/* Our mission */
.mission {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../images/mission-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mission .container {
  display: flex;
  justify-content: space-between;
}

.mission-text {
  width: 475px;
}

.mission .title {
  margin-bottom: 30px;
  color: #fff;
}

.mission .description {
  width: 381px;
  color: #fff;
  font-size: 18px;
  line-height: normal;
}

.mission .description:nth-child(2) {
  margin-bottom: 32px;
}
.mission .description:nth-child(3) {
  margin-bottom: 10px;
}

/* Advantages */
.advantages {
  padding-top: 55px;
  padding-bottom: 80px;
  background-color: #0f252e;
}

.advantages .title {
  margin-bottom: 54px;
  text-align: center;
  color: #fff;
}

.advantages-lists {
  display: flex;
  gap: 37px;
}

.adv-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.adv-item {
  background-color: #f7f7f7;
}

.adv-item-title {
  padding: 31px 50px 30px 43px;
  height: 92px;
  display: flex;
  justify-content: space-between;
}

.advantages .item-title {
  text-align: left;
  margin-bottom: 0;
  color: #141414;
  font-family: "Forum", serif;
  font-size: 28px;
  line-height: normal;
}

.advantages .toogle-button {
  color: #141414;
  font-size: 38px;
  line-height: 0.6;
  background-color: transparent;
  border: none;
}

.adv-description {
  padding-left: 43px;
  padding-right: 43px;
  opacity: 0;
  transform: translateY(-100%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease, padding 300ms ease, opacity 300ms ease,
    transform 300ms ease;
}

.adv-item.active .adv-description {
  padding-bottom: 26px;
  opacity: 1;
  transform: translateY(0);
  max-height: 200px;
}

.adv-line {
  width: 100%;
  height: 1px;
  background-color: rgba(20, 20, 20, 0.2);
}

.adv-description-text {
  margin-top: 26px;
  color: rgba(20, 20, 20, 0.7);
  font-size: 18px;
  line-height: 1.22;
}

/* Quote */
.quote {
  padding-top: 74px;
  padding-bottom: 79px;
  background-color: #f7f7f7;
}

.quote .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote .title {
  margin-bottom: 20px;
  color: #141414;
  text-transform: uppercase;
}

.inputs {
  width: 636px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  padding: 25px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 74px;
  color: #141414;
  font-size: 19px;
  border: 1.6px solid #141414;
  opacity: 0.4;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.17);
}

.form-input::placeholder {
  color: #141414;
}

.form-button {
  width: 636px;
  height: 74px;
  padding: 25px 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.8px solid #141414;
  background: #0f252e;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  text-align: left;
}

.quote-text {
  width: 527px;
}

.quote-text .description {
  color: #141414;
  font-size: 18px;
}

.quote-text .description:not(:last-child) {
  margin-bottom: 30px;
}

/* Audience */
.audience {
  padding-top: 61px;
  padding-bottom: 77px;
  background-color: #0f252e;
}

.audience .title {
  margin-bottom: 21px;
  color: #fff;
  text-align: center;
}

.audience .description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  width: 525px;
  color: rgba(247, 247, 247, 0.8);
  text-align: center;
  font-size: 18px;
}

.audience-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 66px;
  row-gap: 50px;
}

.audience-item {
  width: 585px;
  display: flex;
  align-items: center;
  gap: 29px;
}

.icon {
  display: block;
  width: 80px;
  height: 80px;
}

.audience-item:nth-child(6) .icon {
  padding-left: 10px;
}

.audience .item-title {
  margin-bottom: 6px;
  text-align: left;
  font-size: 28px;
  line-height: normal;
}

.audience .item-description {
  width: 483px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

/* Quiz */
.quiz {
  padding-top: 64px;
  padding-bottom: 80px;
}

.quiz .head {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.quiz .title {
  width: 729px;
  color: #141414;
}

.quiz .label {
  padding-top: 36px;
  color: rgba(20, 20, 20, 0.7);
  font-size: 28px;
  opacity: 0.7;
}

.quiz-container {
  display: flex;
}

.quiz-box {
  width: 745px;
  padding: 38px 97px 36px 62px;
  background-color: #0f252e;
}

.quiz .quiz-subtitle {
  margin-bottom: 18px;
  color: #fff;
  font-size: 38px;
  line-height: 1.5;
}

.quiz-line {
  margin-bottom: 22px;
  width: 579px;
  height: 1px;
  background-color: rgba(247, 247, 247, 0.3);
}

.quiz .question-title {
  margin-bottom: 13px;
  color: #fff;
  font-size: 28px;
  line-height: 1.5;
}

.answers-list {
  margin-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.item-list {
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  width: 288px;
  background-color: #fff;
  border-radius: 5px;
}

.item-list p {
  color: #0f252e;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
}

.quiz-buttons button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Forum", serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

/* Principles */
.principles {
  padding-top: 59px;
  padding-bottom: 80px;
  background-image: url("../images/principles-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.principles .title {
  margin-bottom: 45px;
  color: #fff;
  text-align: center;
}

.principles-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 27px;
}

.principles-item {
  padding: 35px 53px 39px 47px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 603px;
  background-color: #fff;
  color: #141414;
}

.principles-item .number {
  margin-bottom: 0;
  color: #141414;
}

.principles-item .item-title {
  margin-bottom: 4px;
  color: #141414;
  font-size: 28px;
  line-height: normal;
  text-align: left;
}

/* Services */
.services {
  padding-top: 56px;
  padding-bottom: 80px;
}

.services .title {
  margin-bottom: 45px;
  color: #141414;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 19px;
  color: #fff;
}

.services-item {
  padding: 42px 55px 55px 50px;
  display: flex;
  flex-direction: column;
  width: 607px;
  height: 452px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-item:nth-child(1) {
  background-image: url("../images/services/estate-security-image-desktop.jpg");
}

.services-item:nth-child(2) {
  background-image: url("../images/services/cctv-monitoring-image-desktop.jpg");
}

.services-item:nth-child(3) {
  background-image: url("../images/services/personal-protection-image-desktop.jpg");
}

.services-item:nth-child(4) {
  background-image: url("../images/services/security-consultancy-background-desktop.jpg");
}

.services-item:nth-child(5) {
  background-image: url("../images/services/residental-security-image-desktop.jpg");
}

.services-item:nth-child(6) {
  background-image: url("../images/services/accompanyng-service-image-desktop.jpg");
}

.services-item:nth-child(7) {
  background-image: url("../images/services/family-security-image-desktop.jpg");
}

.services-item:nth-child(8) {
  background-image: url("../images/services/cctv-installation-image-desktop.jpg");
}

.services-item:nth-child(9) {
  background-image: url("../images/services/events-security-image-desktop.jpg");
}

.services-item:nth-child(10) {
  background-image: url("../images/services/amg-drone-security-image-desktop.jpg");
}

.services-item .item-title {
  margin-bottom: 14px;
  color: #fff;
  font-size: 38px;
  line-height: 0.9;
  text-align: left;
}

.services-item .item-description {
  color: #fff;
  font-size: 18px;
}

.info-button {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 84px;
  color: #141414;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
}

/* Our Development */
.our-development {
  background-color: #0f252e;
}

.our-development .container {
  padding-right: 0;
  display: flex;
}

.our-development .text {
  padding-top: 75px;
  padding-right: 40px;
  padding-bottom: 98px;
}

.our-development .title {
  width: 744px;
  margin-bottom: 28px;
  color: #fff;
}

.details-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 93px;
  background-color: #fff;
  color: #141414;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  border: none;
}

/* Responsibility */
.responsibility {
  padding-top: 55px;
  padding-bottom: 80px;
}

.responsibility .title {
  text-align: center;
  margin-bottom: 46px;
  color: #141414;
}

.responsibility-list {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.responsibility-item {
  padding: 32px 30px 23px 30px;
  width: 406px;
  height: 246px;
  text-align: center;
}

.responsibility-item-card {
  width: 406px;
  height: 246px;
  text-align: center;
}

.responsibility-item:nth-child(odd) {
  background-color: #0f252e;
  color: #fff;
}

.responsibility-item:nth-child(even) {
  background-color: #F3F3F3;
  color: #0F252E;
}

.responsibility-item .item-title {
  margin-bottom: 15px;
  font-size: 28px;
  font-family: "Forum", serif;
  font-weight: 400;
  line-height: 0.9;
}

.responsibility-item .description {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-weight: 300;
  font-size: 18px;
}

/* Reviews */
.reviews {
  padding-top: 58px;
  padding-bottom: 80px;
  background-image: url("../images/reviews-backgound-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews .title {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.reviews-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-container {
  padding: 35px 73px 61px;
  width: 967px;
  background-color: #fff;
}

.button-ctrl {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
}

.reviews .review-title {
  margin-bottom: 19px;
  color: #141414;
  font-size: 38px;
  line-height: 0.8;
  text-align: center;
}

.review-text {
  color: #141414;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
}

/* Questions */
.questions {
  padding-top: 59px;
  padding-bottom: 80px;
  background-color: #0f252e;
}

.questions .title {
  margin-bottom: 54px;
  color: #fff;
  text-align: center;
}

.qustions-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question-item-container {
  height: 92px;
  padding: 28px 65px 28px 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.question-item-answer {
  padding-left: 50px;
  opacity: 0;
  transform: translateY(-100%);
  border: 1px solid #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease, padding 300ms ease, opacity 300ms ease,
    transform 300ms ease;
}

.questions-item.active .question-item-answer {
  padding: 40px 50px;
  opacity: 1;
  transform: translateY(0);
  max-height: 200px;
}

.question-item-answer .answer-text {
  width: 600px;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}

.questions-item .question-item-title {
  margin-bottom: 0;
  color: #0f252e;
  font-size: 28px;
  line-height: normal;
  text-align: left;
}

.questions .toogle-button {
  color: #0f252e;
  font-size: 31px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

/* Footer */
.footer {
  padding-top: 82px;
  padding-bottom: 77px;
  background-color: #141414;
  color: #fff;
}

.footer .container {
  display: flex;
  align-items: flex-start;
}

.footer-logo {
  margin-right: 155px;
  margin-bottom: 274px;
  padding-top: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
}

.footer-logo-emblema {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.footer-logo-emblema .text {
  color: #fff;
  font-family: "Forum", serif;
  font-style: normal;
  line-height: 0.48;
  text-transform: uppercase;
}

.footer-logo-emblema .text.first {
  font-size: 70px;
  letter-spacing: -2.1px;
}

.footer-logo-emblema .text.second {
  font-size: 34px;
  letter-spacing: -1px;
}

.footer-logo-line {
  width: 1px;
  height: 48px;
  background-color: rgba(247, 247, 247, 0.4);
}

.footer-logo-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
}

.footer-title {
  margin-bottom: 14px;
  font-family: "Forum", serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.84px;
}

.footer-nav-list {
  margin-right: 102px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 300;
  font-size: 16px;
}

.footer-services-list {
  width: 166px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 300;
  font-size: 16px;
}

.footer-contacts {
  margin-left: auto;
}

.footer-contacts-list {
  margin-bottom: 37px;
  display: flex;
  gap: 23px;
}

.footer-contact-title {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.footer-contact {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.footer-link-item {
  color: #fff;
  font-size: 16px;
  opacity: 0.6;
}

.footer-link-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-main {
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  margin-top: auto;
  color: #fff;
  font-size: 18px;
  opacity: 0.6;
}
